# --- Data Science & NLP ---
pandas==3.0.5
openpyxl==3.1.5

# --- Jupyter Notebook & Formatting ---
ipykernel==7.3.0
jinja2==3.1.6
ipython

# --- Scraper ---
# This tells pip to install the reddhog folder locally using a relative path, 
# so it works on everyone's computer regardless of their username or OS.
-e ./src/scraper/reddhog